@model SkillConfigViewModel
@{
    ViewBag.Title = "Index";
}

@section SkillNameMenu{
	@Html.Action("SkillNameMenu", "Home", new { skillId = Model.SkillId })
}
@section MainMenu{
	@Html.Action("MainMenu", "Home", new { skillId = Model.SkillId })
}

<h2>Intent Schema</h2>
<hr />
@Html.TextAreaFor(x => x.IntentSchema, new { @class = "form-control", rows = 5, cols = 200})
<hr />
<h2>Sample Utterances</h2>
<hr />
@Html.TextAreaFor(x => x.SampleUtterances, new { @class = "form-control", rows = 5, cols = 200 })
<hr />